/* Qodana Suppress: DuplicateCode */ /* <-- this we do to suppress the 'duppie' warning from Qodana */
header, h1, h2 {
    font-family: "Georgia", serif !important;
    font-size: 14px; !important;
}

.admin-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #1C5253;
    color: #BEB7A4;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.admin-button:hover {
    background-color: #136D70;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}